<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdulhamid</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
            <div class="medianav">
                 <form action="search" method="GET">
                <input type="text" placeholder="'h' yoki 'x' qatnashgan so'z kiriting ..."> <br>
                <a href="./index.html">
                    <button>Qidirish</button>
                </a>
                 </form>
        </div>
        <div class="wrapp">
            <div class="left" id="left"></div>
            <div class="right" id="right"></div>
        </div>
    </div>
    <div class="nav__search">
        <div class="searching">
            <div class="typinginsearch">
                 <p class="tyyping">
                       'h' yoki 'x' qatnashgan so'z kiriting ...
                </p>
            </div>
             <input type="text">
        </div>  
        <a href="./index.html">
            <button>Qidirish</button>
        </a>
        </div>
        <a href="https://t.me/Abdulhamid97" target="__blank">
            <h2 class="by">Developed by <span> &copy;</span>    Abdulhamid Egamberdiyev</h2>
        </a>
    </body>
</html>